numpy
pandas
matplotlib
torch
transformers
sentence_transformers
scikit-learn
scipy
ipywidgets
ipython
seaborn
hmmlearn
wikipedia-api
bs4
xformers
together
joblib
openai
accelerate>=0.26.0
nltk
openpyxl
rouge-score
vllm